* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: clamp(100%, 1rem + 2vw, 24px);
    font-family: 'Space Mono', monospace;
    background-color: rgb(13,12,12);
    color: white;
}

main {
    font-size: clamp(100%, 1rem + 5vw, 60px);
}

main span {
    background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-animation 200s linear infinite;
}

a {
    color: rgb(190, 57, 34);
}

div {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes rainbow-animation {
    to {
        background-position: 1500vh;
    }
}

p, li{
    color: gray;
}

header {
    text-align: center;
}

#blob {
    background-color: none;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    filter: blur(200px);
    transform: translate(-50%, -50%)
  }