* {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    background-color: rgb(13,12,12);
    color: white;
}

a {
    color: rgb(190, 57, 34);
}

a:hover a:visited {
    color: black;
    background-color: rgb(190, 57, 34);
    text-decoration: dotted;
}

main {
    margin-top: 50vh;
    font-size: 5vw; /* responsive! */
}

main span {
    background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-animation 200s linear infinite;
}

@keyframes rainbow-animation {
    to {
        background-position: 1500vh;
    }
}

p {
    color: gray;
    font-size: 2vmin;
}

footer {
    font-size: 2vmin;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0%;
    position: fixed;
}